html {
    font-size: 16px;
    font-family: 'Arsenal', sans-serif;
    color: #222;
    background-color: white;
}

h3{
    text-align: center;
}

body{
    background-color: rgb(205, 205, 205);
}
#wrapper {
    margin: auto;
    max-width: 800px;
    border-style: ridge;
    border-width: 0 6px;
    border-color: #222;
    padding: 0 5px;
}

header {
    background-color: rgb(21, 138, 154);
    height: 190px;
    position: relative;
    border-style: solid;
    border-width: 3px;
    border-color: rgba(20, 23, 24, 0.171);
}

#content {
    min-height: 100px;
    padding: 0 50px;
    background-color: white;
    padding-bottom: 20px;
}

.username {
    font-family: 'Lora', serif;
    font-size: 1.2em;
    font-style: italic;
    text-align: right;
    padding-right: 5px;
}

.userpic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: contain;
    background-color: #222;
    background-image: url("../img/blackleather.png");
    border: 2pt solid #222;
    float: left;
    margin: 0 40px 20px 0px;
}

textarea {
    width: 95%;
    color: #777;
    font-size: 1em;
    padding: 1em;
    height: 100px;
}

.h3-responsive{
    color: black;
}

.footer-bg{
  background-color: #61b9fa;
}

.container{
    margin-bottom: 100px;
}
.carousel-inner > .carousel-item{
    max-height: 500px;
  }

.carousel-inner > .carousel-item > img {
    width:100%;
    height:500px;
  }

  .carousel-inner
{
    margin-bottom: 60px;
}
  .carousel-inner > .carousel-item > .carousel-caption{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    padding: 15px;
    text-align: center;
  }
  
  h1{
    margin-top: 40px;
    text-align: center;
    margin-bottom: 30px;
}
.p5{
    color: white;
}
.figure{
    text-align: center;
    color: black;
}
#img-fluid2{
    height: 300px;
    max-height: 300px;
    width: 300px;
    min-width: 70%;
}
#img-fluid3{
    border-top-width: 200px;
    height: fit-content;
    width: fit-content;
}
#par1{
    color: #212529!important;
    margin-top: 10px!important;
    margin-bottom: 30px!important;
    font-size: 1.8em;
}
#par2{
    color: #212529!important;
    margin-top: 30px!important;
    margin-bottom: 30px!important;
    font-size: 1.8em;
}
